<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leyi.library.dao.UserDao">

    <resultMap id="userResultMap" type="com.leyi.library.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="user_name" property="userName" jdbcType="VARCHAR"></result>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"></result>
        <result column="user_email" property="userEmail" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="selectUser" parameterType="com.leyi.library.entity.User" resultMap="userResultMap">
        select * from  t_user WHERE user_name = #{userName}
    </select>

    <insert id="register" parameterType="com.leyi.library.entity.User">
        INSERT INTO  t_user (user_name,user_pwd,user_email) VALUES (#{userName},#{userPwd},#{userEmail})
    </insert>
</mapper>